/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'Press Start 2P', fantasy;
  --main-weight: 400;
  --header-weight: 700;
  --bg-color: #FFFFFF;
  --text-color: #000000;
  --text-shadow: #FFFFFF;
  --button-color: #FFFFFF;
  --heart-color: #FF0000;
  --gradient: repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
  linear-gradient(#e7e7e7 0.01%, #1a1a1a 100%);
}